<!DOCTYPE html>
<html>
    <head>
        <title>Torchlight</title>
        <script src="web/angular.min.js"></script>
        <script src="web/index_files/indexctrl.js"></script>
        <link rel="stylesheet" type="text/css" href="web/index_files/indexstyle.css"></link>
    </head>

    <body ng-app="timingApp">
        <div ng-controller="graphDisp">
            <div class="container">
                <div ng-repeat="(k, v) in types" class="lBar" ng-style="lBarStyle(v)" ng-click="hideDesc()">
                    {{k}}
                </div>
                <div ng-repeat="g in graph" ng-class="g.type" ng-style="getStyle(g)" ng-click="showDesc(g.desc,g.link,$event)">
                    {{g.name}}
                </div>
                <p style="font-weight:bold">Please note that this page serves as a table of contents for the larger Torchlight document. <br/>
                   The Torchlight document is intended to be a living one in that we expect it to grow as the<br/>
                   system changes. Any of the links willl redirect you to a relevant part of the document.</p>
                <label>Zoom: <input type="text" ng-model="scl" readonly></input></label>
                <button ng-click="scl = scl + 5">+</button>
                <button ng-click="scl = (scl <= 15)?scl: scl - 5">-</button>
                <a href="web/full-page.htm">Here is the full document as a web page</a>
                <div id="disclaimer">Note that this is an example, not an actual or complete schedule. Click on the links for more details.</div>
                <div id="desc" ng-style="descStyle">
                    {{currDesc}}
                    <a ng-if="currLink != ''" ng-href="{{currLink}}">Click for details.</a>
                    <button ng-click="hideDesc()">Close</button>
                </div>
            </div>
        </div>
    </body>
</html>
